<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.admin.system.mapper.RoleMapper">
    <select id="getRoleNameByUserId" resultType="java.lang.String">
        select sr.name from sys_role sr where sr.id in (
            select sru.role_id from sys_role_user sru where sru.user_id = #{userId}
        ) and sr.enable = true
    </select>
</mapper>
